@tailwind base;
@tailwind components;
@tailwind utilities;

.adjustedWidthForMenu {
  width: 100%
}

.react-tooltip.core-styles-module_tooltip__3vRRp.styles-module_tooltip__mnnfp.styles-module_dark__xNqje.react-tooltip__place-left.core-styles-module_show__Nt9eE.react-tooltip__show {
  opacity: 1;
}

.react-tooltip.core-styles-module_tooltip__3vRRp.styles-module_tooltip__mnnfp.styles-module_dark__xNqje.react-tooltip__place-top.core-styles-module_show__Nt9eE.react-tooltip__show {
  opacity: 1;
}
.react-tooltip.core-styles-module_tooltip__3vRRp.styles-module_tooltip__mnnfp.styles-module_dark__xNqje.react-tooltip__place-right.core-styles-module_show__Nt9eE.react-tooltip__show {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .adjustedWidthForMenu {
    width: 100%;
  }
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.justify-text {
  text-align: justify;
}


